<div>
  <input *ngIf="!router.includes('/alimentar')" [(ngModel)]="enteredDirection" #mapSearchField
    class="my-map-search-field" type="text" placeholder="Buscar" (keyup)="locationPressed = false" />
  <google-map width="100%" height="35vh" [center]="center" [options]="options">
    <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
      [title]="marker.title" [options]="marker.options">
    </map-marker>

    <map-info-window>{{ infoContent }}</map-info-window>
  </google-map>

  <div #directions *ngIf="(router === '/colonias' || router.includes('/alimentar') ) && !loading" id="direction"
    [ngClass]="{'directionsColonies' : router === '/colonias'}" class="directions container">
    <app-colony-info [ngClass]="{'colonySelected' : colonySelected == c.id}" *ngFor=" let c of colonies;" id="{{c.id}}"
      width="100%" [colony]=c></app-colony-info>
  </div>

  <div *ngIf="loading && (router === '/colonias' || router.includes('/alimentar'))"
    class="alert alert-info text-center mt-3 loading">
    <h4 class="alert-heading">Cargando</h4>
    <p>
      <i class="fas fa-circle-notch fa-spin"></i>
    </p>
    <p class="mb-0">
      Espere por favor
    </p>
  </div>

</div>