.my-map-search-field {
    background-color: #fff;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 60%;
    border-radius: 6px;
  }
  
  .my-map-search-field {
    border-color: #4d90fe;
  }

  .direcciones {
    overflow-y: scroll;
    height: 20vh;
  }

  .direcciones img{
    width: 1.5em;
  }