.my-map-search-field {
    background-color: #fff;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 60%;
    border-radius: 6px;
  }
  
  .my-map-search-field {
    border-color: #4d90fe;
  }

  .directions {
    overflow-y: scroll;
    height: 25vh;
  }

  .directions img{
    width: 1.5em;
  }

  .colonySelected{
    background-color: #b1b1eb42;
/*     box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
 */  	box-shadow:inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255,255,255,.4);

  }

.notSelected{
  background-color: white;
  box-shadow: none;
}

  .loading{
    height: 20vh;
  }
  .feeding-info{
    color: gray;
    font-size: 0.9em;
    margin: 0;
  }

  .feed-image img{
    width: 2.5em;
  }