<!-- <nav class="navbar navbar-light bg-light nav-justified">
    <form class=" navbar navbar-light bg-light nav-justifieds form-inline">
      <a class="nav-item" href="/colonias"><button class="btn btn-outline-success small" type="button">Mapa Colonias</button></a>
      <a class="nav-item" href="/colonias"><button class="btn btn-outline-success small" type="button">Registrar Colonia</button></a>
      <a class="nav-item" href="/colonias"><button class="btn btn-outline-success small" type="button">Alimentar Colonia</button></a>
    </form>
  </nav>
 -->

  <ul class="nav justify-content-center nav-justified">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Mapa Colonias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/alimentar">Alimentar Colonias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/colonia">Registrar Colonia</a>
    </li>
  </ul>